body {
    text-align: center;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    text-align: center;
    color: brown;
}
.currency {
    padding-top: 50px;
    display: inline-flex;
    flex-wrap: wrap;
    width: 550px;
    justify-content: center;
}
label {
    padding: 0px 12px;
    width: 158px;
    height: 52px;
    font-size: 48px;
    background-color: rgba(0,0,0,0.2);
    border: none;
    border-radius: 10px 0 0 10px;
}
input {
    width: 350px;
    height: 46px;    
    padding-left: 12px;
    font-size: 24px;
    margin-bottom: 20px;
    vertical-align: middle;
}
img {
    margin-right: 10px;
}
