*{
    font-family: 'Open Sans', sans-serif;
}
body {
    margin: 0;
}

header {
    height: 660px;
    background-color: #f6f2f2;
}

.main_nav {
    position: fixed;
    width: 100%;
    height: 90px;
    background-color: #312f30;
    z-index: 2;
}

.container {
    width: 74%;
    margin-left: 13%;
    margin-right: 13%;
}

.menu {
    display: flex;  
    justify-content: space-around;
    padding: 0 20%;
    margin: 0;
    list-style-type: none
}
.menu_item {
    display: inline-block;
    text-align: center;
    width: 90px;
    line-height: 90px;
}
.menu_item:hover {            
    background-color: #ff3f40;
    transition: 0.3s all
}
.menu_link {
        color: #f6f2f2;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        text-decoration: none
}
.subheader {
    padding: 200px 0 110px 0
}
.subheader_slogan {
    display: block;    
    height: 120px;
    color: #000000;    
    text-align: left;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
}
.subheader_descr {
    display: block;
    margin-top: 36px;
    width: 40%;
    height: 73px;
    color: #312f30;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    text-align: left;
}
.subheader_img {
    position: relative;
    float: right;
    justify-content: end;
    width: 50%;
    height: 303px;
    background: url('img/startup.jpg') center / 100% auto no-repeat;
    box-shadow: 0 0 25px #312f30
}
.subheader_img img{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}
.main_btn {
    margin-top: 58px;
    width: 227px;
    height: 55px;
    border-radius: 5px;    
    border: 2px solid #ff3f40;
    color: #ff3f40;
    font-size: 18px;
    font-weight: 700;
    background-color:#ffffff;
}
.main_btn:hover {
    border-radius: 5px;
    border:none;
    background-color: #ff3f40;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s all
}

.services {
    display: flex;
    padding-top: 115px;
    padding-bottom: 80px;
}
.services_left {
    width: 40%;
    float: left;
}
.services_right {
    width: 60%;  
    display: flex;
    flex-wrap: wrap;  
    float: right;
}
.regular_header {
    width: 88%;
    margin: 0;
    color: #312f30;
    text-align: left;
    text-transform: uppercase;
    font-size: 37px;
    line-height: 37px;
    font-weight: 700;

}
.services_descr {
    width: 80%;
    color: #000000;
    margin-top: 50px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    text-align: left;
}
.service_block {
    width: 43%;
    margin: 0  0 30px 30px;
    float: left
}
.service_header {
    margin: 35px 0 17px 0;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    text-align: left;
    color: #312f30;
}
.service_descr {
    width: 95%;
    max-width: 290px;
    color: #312f30;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    text-align: left;
}

.page_divider {
    width: 100%;
    height: 2px;
    background-color: #ececec;
}
.products {
    padding: 105px 0 120px 0;
    text-align: center;
}
.products .regular_header {
    width: 100%;
    text-align: center;
}
.products_descr {
    margin: 35px auto 0 auto;
    width: 500px;
    color: #312f30;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    text-align: center;
}
.mini_divider {    
    display: inline-block;
    margin-top: 30px;    
    width: 132px;
    height: 3px;
    background-color: #ff3f40;
}
.products_menu {
    display: flex;  
    justify-content: space-around;
    padding: 0 12%;
    margin: 88px 0 66px 0;
    list-style-type: none
}
.products_item {
    display: inline-block;
    text-align: center;
}
.products_link {
    color:#312f30;
    font-size: 22px;
    font-weight: 400;  
    text-transform: uppercase;
    text-decoration: none
}
.products_link:hover {
    color: #ff3f40;
    transition: 0.3s all
}
.products_block {
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-around;  
}
.products_img {
    width: 23%;
    height: auto;
    margin-bottom: 20px;
    transition: 0.4s all;
}
.products_img:hover {
    width: 25%;
    height: auto;
    transition: 0.4s all;
}

.team {
    padding-bottom: 110px;
}
.team_descr {
    margin: 40px 0 0px 0;
    width: 40%;
    color: #312f30;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    text-align: left;
}
.team_photo_big {
    float: left;
    margin: 70px 70px 0 0;
    width: 321px;
    height: 458px;
    background: url('img/team_1.jpg') center / auto 100% no-repeat
}
.team_member_header {
    margin: 85px 0 35px 0;
    display: inline-block;
    color: #312f30;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 24px;
    font-weight: 700;
}
.team_member_descr {
    width: 85%;
    color: #312f30;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    text-align: left;
}
.team_member_social {
    margin-top: 40px;
}
.team_member_social p {
    display: inline-block;
    margin: 0 30px 0 0;
    color: #312f30;
    font-style: italic;
    font-size: 18px;
    line-height: 18px;
}
.team_photos {
    margin: 67px 0 0 0;
    width: 58%;
    display: inline-flex;
    justify-content: space-between
}
.member_photo_1 {
    width: 23%;
    height: 214px;
    background: url('img/team_2.jpg') center / auto 100% no-repeat
}
.member_photo_2 {
    width: 23%;
    height: 214px;
    background: url('img/team_3.jpg') center / auto 100% no-repeat
}
.member_photo_3 {
    width: 23%;
    height: 214px;
    background: url('img/team_4.jpg') center / auto 100% no-repeat
}
.member_photo_4 {
    width: 23%;
    height: 214px;
    background: url('img/team_5.jpg') center / auto 100% no-repeat
}

.subscribe {
    padding: 140px 0 140px 0;
    position: relative;
    text-align: center;
}
.subscribe::before {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('img/subscribe_bg.jpg') top / 100% auto no-repeat, rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    filter: blur(4px);
    z-index: -1;
}
.subscribe_header {
    display: inline-block;
    color: rgb(255, 255, 255, 0.8);
    font-size: 42px;
    line-height: 42px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 30px;
}
.subscribe_descr { 
    color: rgb(255, 255, 255, 0.8);
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    margin: 0 0 62px 0
}
.mail_form {
    width: 521px;
    height: 79px;    
    padding-left: 36px;
    background-color: #ffffff;
    color: #2c2c2c;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    margin-right: 22px;
    border: none
}
.button_submit {
    width: 214px;
    height: 79px;
    border-radius: 5px;
    background-color: #ff3f40;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;    
    transition: 0.3s all;
    border: none;    
    text-transform: uppercase
}
.button_submit:hover {    
    color:#ff3f40;
    background-color:#ffffff;
    cursor: pointer;
    transition: 0.3s all
}

.contact {
    width: 60%;
    padding: 105px 0 110px 0;
    position: relative;

}
.contact_descr {
    margin-top: 50px;
    margin-bottom: 24px;
    color: #312f30;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    text-align: left;
}
.contact_form {
    margin-top: 75px;
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact_form input {
    box-sizing: border-box;
    padding-left: 48px;
    width: 45%;
    flex-grow: 0;
    height: 69px;
    background-color: rgba(0,0,0,0.1);
    color: rgba(0, 0, 0, 0.7);
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    border: none
}
.contact_form textarea {
    padding: 35px 0 0 51px;
    margin-top: 46px;
    width: 100%;
    box-sizing: border-box;
    height: 249px;
    color: rgba(0, 0, 0, 0.7);    
    background-color: rgba(0,0,0,0.1);
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    border: none;
    resize: none
}
.contact_form .button_submit {
    width: 100%;
    height: 72px;
    margin-top: 45px;
}
.contact_form .button_submit:hover {
    border: 2px solid #ff3f40;
}
.contact_block {
    position: absolute;
    bottom: 110px;
    right: -95.9%;
    padding: 145px 210px 145px 80px;
    box-sizing: border-box;
    width: 577px;
    height: 481px;
    background-color: #312f30;
}
.contact_header {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #e0e0e0;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.contact_info {
    margin-top: 30px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
    color: #e0e0e0;
}

footer {
    padding: 45px 0 37px 0;
    box-sizing: border-box;
    height: 111px;
    background-color: #312f30;    
}
.footer_row {
    display: flex;
    justify-content: space-between;        
    vertical-align: bottom;
}
.footer_copyright {
    text-align: left;
    margin: auto 0;
    font-size: 16px;
    line-height: 16px;
    font-weight: 300;
    color: #e0e0e0;
}
.footer_copyright a {
    color: #e0e0e0;
    text-decoration: none;
    transition: 0.3s all
}
.footer_copyright a:hover {
    text-decoration: none;
    cursor: pointer;
    color: #ff3f40;
    transition: 0.3s all
}
.footer_copyright a:visited {
    text-decoration: none;
}
.footer_social {
    width: 185px;
    display: inline-flex;
    justify-content: space-between;
    text-align: right;
}
.social_icon {
    transition: 0.4s all;
}
.social_icon:hover{
    width: 105%;
    height: auto;
    transition: 0.4s all;
}
